body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    color:rgb(255, 253, 253);
    margin-left: auto;

    width: 50%;
    padding:  10px;


}
section{
    display:flex;
}
h2{
    font-size: 20px;
    color: rgb(196, 77, 34);
    width: 50%;
    padding:  10px;
    margin-left: auto;

}
.top-banner{
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    height: 500px;
    
       
     }
h3{
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding:  10px;
    margin-left: auto;
}
p{
    margin-left: auto;

    width: 50%;
    padding:  10px;
    color:rgb(255, 253, 253);

}
ol{
    
    border: none;
    color: rgb(153, 86, 86);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
h5{
    font-size: 20px;
    color:rgb(126, 71, 71);
    margin-left: auto;

    width: 50%;
    padding:  10px;


}
h6{
    font-size: 20px;
    color:orange;
    margin-left: auto;

    width: 50%;
    padding:  10px;

}
